.header {
  /*padding-top: var(--mantine-spacing-sm);*/
  background-color: white; /* Set background color to white */
  /*border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), transparent);*/
  /*padding-bottom: rem(120px);*/
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;
}

.user:hover {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

@media (max-width: $mantine-breakpoint-xs) {
  .user {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabsList::before {
  display: none;
}

.tab {
  font-weight: 500;
  height: rem(38);
  background-color: transparent;
  position: relative;
  bottom: -1px;
}

.tab:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.tab[data-active] {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
  border-bottom-color: transparent;
}